* {
  box-sizing: content-box;
  padding:0;
  margin:0;
}

body {
  background: url(https://i.imgur.com/MJAkxbh.png);
}

.sample-map {
  width: 100%;
  height: 200px;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 10px;
  font-family: Garamond;
  font-size: 18px;
  color: #5D5D5D;
}

.introduction {
  text-align: left;
  line-height: 1.55;
}

.title {
  padding: 6px;
  text-align: left;
}

.founder {
  float: right;
  border-radius: 50%;
  height: 325px;
}

/* describe */
.describe {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
}

/* image Menu */
.image-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

figure {
  max-width: 500px;
}

figure img {
  width: 325px;
  height: 325px;
  object-fit: cover;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Calibri;
  color: #90c53e;
  font-weight: 100;
  letter-spacing: 2.5px;
}

table {
  text-align: center;
  margin: 0 auto;
}

td {
  padding: 5px;
  text-align: left;
}

figcaption {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.desc {
  font-size: 12px;
  width: 10px;
}

.contact-details {
  display: flex;
}

.contact-details div {
  flex: 1;
}

p.introduction {
  padding: 6px;
  text-align: left
}


.food {
  height: 240px;
}

.tosta {
  border-radius: 50% 0 50% 50%;
  margin-right: 10px;
}

.fabada {
  border-radius: 0 50% 50% 50%;
}


.menu-icon {
  font-size: 30px !important;
  float: right;
  margin: 30px;
  display: none !important;
}

/* Header */
.header {
  background-color: black;
  color: white;
  height:110px;
  font-family: Calibri;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  letter-spacing: 2.5px;
}

.header-logo{
  float:left;
  width:40%;
}
.header-logo img{
	width:36%;
	padding-top:8px;
	padding-left:40px;
}
.header-list li{
  float:right;
  padding:25px 25px;
  list-style: none;
  margin-right:20px;
  font-size:20px;
  letter-spacing: 1px;
  
}

a{
	color: white;
	text-decoration:none;
	display:block;
}
a:hover{
	color:black;
}
.header-list li:hover {
  background-color:white;
  transition: all 1s;
  color:black;
}


@media (max-width: 1000px) {
  .describe {
    flex-direction: column;
    align-items: center;
  }

  .header-list {
    display: none;
  }

  .menu-icon {
    display: block !important;
  }
}

@media (max-width: 670px) {
  .describe {
    flex-direction: column;
    align-items: center;
  }

  .founder {
    order: 1
  }

  .introduction {
    order: 2;
  }

  .awards {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
  }

  .awards li {
    list-style: none;
  }

  .image-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-menu img {
    text-align: center;
  }

  .food {
    height: 240px;
  }

  .tosta {
    border-radius: 50% 0 50% 50%;
    margin-right: 10px;
  }

  .fabada {
    border-radius: 0 50% 50% 50%;
    margin-left: 10px;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header-logo {
    font-size: 24px;
    margin: 10px;
  }
}
